* {
    margin: 0; 
}
nav {
    display: flex; 
    justify-content: space-between;
    width: 94%; 
    margin: 30px auto; 
    background-color: transparent; 
    position:fixed;
    top: 0;
    left: 0;
    right: 0; 
}
.logo {

}
.navigation-bar {
    list-style-type: none;
    width: 60%; 
    z-index: 10; 
}
.navigation-bar ul{
    display: flex;  
    justify-content: space-between; 
    color: white; 
}
.navigation-bar ul li{ 
    list-style-type: none;
    text-decoration: none; 
    color: white; 
}
.fa-solid {
    color: white; 
}
.icons {
    display:flex; 
    align-items: center; 
    justify-content: space-around;
    width: 10%;  
}
.hero {
    height: 82vh; 
    width: 100%; 
    background-color: grey; 
}
.hero img {

}
.shop-now {
    display: flex; 
    justify-content: space-between;
    width: 94%; 
    margin: 12vh auto; 
    height: 100vh; 
    color: white; 
}
.shopping {
    display: flex; 
    justify-content: center;
    flex-direction: column;
    align-items: center; 
    height: 85vh; 
    width: 49%; 
    background-color: black; 
    border-radius: 2%;  
}
.shopping h3,p,a {
    margin: 15px; 
}
h3 {
    font-size: 40px; 
}
.shopping-image {
    height: 85vh; 
    width: 49%; 
    background-color: grey;
    border-radius: 2%;  
}
button {
    padding: 20px 40px; 
    border-radius: 50px; 
    background-color: lightseagreen;
    border: none; 
    
}
img {
    width: 100%; 
    height: 100%; 
    border-radius: 2%; 
}
